.mac {
    width: 45vw;
    height: auto;
}

#projects-container {
    background-color: white;
    min-height: 1000px;
    height: 60vh;
    width: 100vw;
    background-image: url('./iphoneright.png');
    background-position: right;
    object-fit: cover;
    background-size: 60vw;
    background-repeat: no-repeat;
}

.projects-header {
    margin: 50px;
}

.blacky {
    color: black;
    font-family: Montserrat;
    font-size: calc(2.25rem + (56 - 36) * (100vw - 20rem) / (1440 - 320));
    margin-bottom: 20px;
    
    
}

.project-section {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 35vw;
    justify-content: center;
    align-content: center;
    

    
}

.project-section p {
    font-family: Source Sans Pro;
    color: #8d8d8d;
    font-weight: bolder;
    line-height: 24px;
    font-size: 18px;
}

.projects {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: calc(2.2rem + (150 - 58) * (100vw - 20rem) / (1440 - 320));
    color: #eee;
    text-transform: uppercase;
    margin-bottom: 84px;
    
}

.project-button {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-weight: 700;
      display: inline-block;
      cursor: pointer;
      width: 130px;
      min-width: 125px;
      padding: 0px 20px 4px;
      font-size: 17px;
      background-color: white;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      border-width: 5px;
      border-color: currentColor;
      border-style: solid;
      transition: all 0.25s ease;
      color: rgb(0, 103, 246);
      box-shadow: 0px 0px, 1px 1px, 2px 2px, 3px 3px, 4px 4px, 5px 5px, 6px 6px, 7px 7px, 8px 8px, 9px 9px, 10px 10px, 11px 11px, 12px 12px;
      margin-bottom: 16px;
      margin-top: 50px;
      margin-right: 60px;
}

.project-button2 {
     font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-weight: 700;
      display: inline-block;
      cursor: pointer;
      width: 130px;
      min-width: 125px;
      padding: 0px 20px 4px;
      font-size: 17px;
      background-color: white;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      border-width: 5px;
      border-color: currentColor;
      border-style: solid;
      transition: all 0.25s ease;
      color: rgb(246, 90, 66);
      box-shadow: 0px 0px, 1px 1px, 2px 2px, 3px 3px, 4px 4px, 5px 5px, 6px 6px, 7px 7px, 8px 8px, 9px 9px, 10px 10px, 11px 11px, 12px 12px;
      margin-bottom: 16px;
      margin-top: 50px;
      margin-right: 60px;
}

@media(max-width: 653px) {
    .project-section {
        width: 65vw;
       
    }

    #projects-container {
        background-image: none;
    }
}